body{
    background-color: brown;
    border-top: 1px solid rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: small;
    color:aliceblue;
    margin-left: 10%;
   
}


h1{
    font-size:xx-large;
    text-align: center;
}

h2{
    text-align: justify;
    width: 60%;
    
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 5%;
}

h3{
    text-align: center;
}

p{
    font-size: medium ;
}

input{
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    padding: 0,2%;
    border-radius: 5px;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input::placeholder{
    color: darksalmon;
}

input:hover{
    border: 1px solid darksalmon;
}

textarea:focus, input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.GeneroPessoa{
    display: flex;
    width: 40%;
    margin-bottom: 3%;
    align-items: center;
    font-size: larger;
}

.GeneroPessoa label{
    margin: 0 2%;
}

.GeneroLiterario{
    display: flex;
    width: 60%;
}

.checkboxGrupo{
    display: grid;
    align-content: space-between;
}

.checkbox{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    font-size: large;
    padding: 10px;
}

footer{
    text-align: center;
    margin-top: 2%;
    padding-top: 2%;
}